<!DOCTYPE html>
<html>
<head lang="en">
    <title>Course Assign Solution</title>
    <meta charset="UTF-8">
    <meta name="description" content="course assign solution">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Include Modernizr in the head, before any other Javascript -->
    <script src="../lib/modernizr/modernizr.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CourseManagement</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/course">Course</a></li>
                <li><a href="/faculty">Faculty</a></li>
                <li><a href="/course-assign">Course Assign</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../login">Sign Out</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">
    <br><br><br><br>

    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Courses</h3>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="table-responsive" id="scrollbox3">
                                        <table class="table table-condensed table-hover">
                                            <thead>
                                            <tr><th>SL</th>
                                                <th>CODE</th>
                                                <th>TITLE</th>
                                                <th>TYPE</th>
                                                <th>SECTION</th>
                                                <th>SEMESTER</th>
                                                <th>CLASS TIME</th>
                                                <th></th>
                                            </tr></thead>
                                            <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td>ENG101</td>
                                                <td>ENGLISH LITERATURE</td>
                                                <td>ARTS</td>
                                                <td>A</td>
                                                <td>FALL</td>
                                                <td>12:00-01:30</td>
                                                <td align="right" class="passIcon mytooltip"><a href="#"><span class="glyphicon glyphicon-remove medium" ></span></a></td>
                                                <td align="right" class="passIcon mytooltip"><a href="#" data-toggle="tooltip" title="" data-original-title="Edit Session"><span class="glyphicon glyphicon-edit medium" data-toggle="modal" href="#myModalSession"></span></a></td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td>BNG101</td>
                                                <td>BANGLA HISTORY</td>
                                                <td>ARTS</td>
                                                <td>B</td>
                                                <td>FALL</td>
                                                <td>12:45-02:00</td>
                                                <td align="right" class="passIcon mytooltip"><a href="#"><span class="glyphicon glyphicon-remove medium" ></span></a></td>
                                                <td align="right" class="passIcon mytooltip"><a href="#" data-toggle="tooltip" title="" data-original-title="Edit Session"><span class="glyphicon glyphicon-edit medium" data-toggle="modal" href="#myModalSession"></span></a></td>
                                            </tr>
                                            <tr>
                                                <td>03</td>
                                                <td>ENG101</td>
                                                <td>ENGLISH LITERATURE</td>
                                                <td>ARTS</td>
                                                <td>A</td>
                                                <td>FALL</td>
                                                <td>12:00-01:30</td>
                                                <td align="right" class="passIcon mytooltip"><a href="#"><span class="glyphicon glyphicon-remove medium" ></span></a></td>
                                                <td align="right" class="passIcon mytooltip"><a href="#" data-toggle="tooltip" title="" data-original-title="Edit Session"><span class="glyphicon glyphicon-edit medium" data-toggle="modal" href="#myModalSession"></span></a></td>
                                            </tr>
                                            <tr>
                                                <td>04</td>
                                                <td>ENG101</td>
                                                <td>ENGLISH LITERATURE</td>
                                                <td>ARTS</td>
                                                <td>A</td>
                                                <td>FALL</td>
                                                <td>12:00-01:30</td>
                                                <td align="right" class="passIcon mytooltip"><a href="#"><span class="glyphicon glyphicon-remove medium" ></span></a></td>
                                                <td align="right" class="passIcon mytooltip"><a href="#" data-toggle="tooltip" title="" data-original-title="Edit Session"><span class="glyphicon glyphicon-edit medium" data-toggle="modal" href="#myModalSession"></span></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="modal fade" id="myModalSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title">COURSE</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <form class="form-horizontal" role="form" id="1612759064">
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">CODE</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">TITLE</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">TYPE</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">SECTION</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">SEMESTER</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <table width="100%" cellpadding="5">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="30%">CLASS TIME</td>
                                                                            <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer"><a href="#" data-dismiss="modal" class="m-btn blue">CLOSE</a> <a href="#" class="m-btn blue">UPDATE</a> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- -------------------------------- -->

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ADD COURSE</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal" role="form" id="1612760864">
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">CODE</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">TITLE</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">TYPE</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">SECTION</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">SEMESTER</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%">CLASS TIME</td>
                                    <td width="70%"><input type="text" class="form-control" placeholder=""></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="100%" cellpadding="5">
                                <tbody>
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%"><button type="submit" class="btn btn-default">ADD</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->


<!-- All Javascript at the bottom of the page for faster page loading -->

<!-- If no online access, fallback to our hardcoded version of jQuery -->
<script src="../lib/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- AngularJS -->
<!--<script src="lib/angular/angular.min.js"></script>-->
<!--<script src="lib/angular-route/angular-route.min.js"></script>-->
<!--<script src="lib/angular-resource/angular-resource.min.js"></script>-->
<!--<script src="src/app.js"></script>-->
<!--<script src="src/controllers.js"></script>-->

<!-- Custom JS -->
<script src="../js/script.js"></script>


</body>
</html>